<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>SMI NEXUS</title>
  <script src="vue.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <header>
    <div id="logo">
      <h1>SMI NEXUS</h1>
    </div>
    <div id="login_info">
      <span id="username">{{ username }}</span>
      <span>
        <button class="branch-button">{{ branchname }}</button>
      </span>
    </div>
  </header>
  <nav>
    <div id="horizontal_menu" class="navbar">
      <div class="dropdown">
        <button class="dropbtn">File
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">User Settings</a>
          <a href="#">Exit</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Edit
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Cut</a>
          <a href="#">Copy</a>
          <a href="#">Paste</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Maintenance
          <i class="fa fa-caret-down"></i>
        </button>
        <div id="maintenance_dropdown" class="dropdown-content">
          <a v-for="item in maintenance_items" href="#">{{ item }}</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Applications
          <i class="fa fa-caret-down"></i>
        </button>
        <div id="applications_dropdown" class="dropdown-content">
          <a v-for="item in applications_items" href="#">{{ item }}</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Help
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">About</a>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div class="main-content">
      main content
    </div>
  </main>
  <footer>
    <div class="copyright">
      Copyrights and stuff.
    </div>
  </footer>
</body>
<script src="index.js"></script>

</html>